/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Utilities*/
.header {
  margin-bottom: 10px;
  padding: 10px 12px;
}

.header-title {
  font-size: 30px;
  text-align: center;
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 214, 100, 1) 1%,
    rgba(2, 65, 111, 1) 61%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 15px 20px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn-large {
  width: 100%;
}

.btn-dark {
  color: #fff;
  background-color: #02416f;
}

.btn-green {
  color: #fff;
  background-color: #02d664;
}

.flex {
  display: flex;
}

.center-vertical {
  align-items: center;
}

.hide {
  display: none;
}

.icon-dark {
  color: #02416f;
}

.icon-green {
  color: #02d664;
}

.icon-white {
  color: #fff;
}

.display-message {
  margin-bottom: 10px;
  font-size: 12px;
}

.error {
  color: red;
}

.success {
  color: #02d664;
}

.center {
  text-align: center;
}

.icon {
  cursor: pointer;
}
/*Login*/
form {
  margin-top: 10px;
}
.login-container {
  width: 350px;
  margin: 100px auto 0 auto;
}

.login-form {
  margin-top: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.inner-input {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  height: 45px;
}

.inner-input ~ span {
  margin-left: 5px;
}

.prefix {
  padding: 0px 5px;
  width: 40px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  height: 100%;
  border-left: 1px solid #ddd;
  color: #02416f;
  font-size: 14px;
  border-radius: 4px;
}

.input:focus {
  border: 2px solid #02d664;
}

/*Home page*/
.logo {
  cursor: pointer;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: 200px auto;
  height: 100%;
}

.left-sidebar {
  border-right: 1px solid #ddd;
}

.middle-content {
  justify-content: space-between;
}

/*navbar*/
.navbar {
  height: 60px;
  padding: 5px 20px;
  border-bottom: 1px solid #ddd;
  color: #02416f;
}

.username > span {
  font-size: 20px;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}

.list {
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.list > li {
  text-align: center;
  color: #02416f;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 3px solid #02d664;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.list > li:last-child {
  margin-right: 0;
}

.logout {
  cursor: pointer;
}

/*Grid items*/
.items {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 200px 200px;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
  margin-top: 20px;
}

.item {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 12px 15px;
  color: #fff;
  cursor: pointer;
}

.item > .box-icon {
  height: 60%;
  /* width: 100%; */
  font-size: 50px;
  margin-bottom: 10px;
}

.item > h3 {
  padding-top: 10px;
  border-top: 2px solid rgba(231, 227, 227, 0.2);
}

.fa-circle-plus {
  margin-right: 5px;
}

.purple {
  background: linear-gradient(
    90deg,
    rgba(236, 15, 247, 1) 1%,
    rgba(111, 2, 105, 1) 61%
  );
}

.green {
  background: linear-gradient(
    90deg,
    rgba(41, 227, 40, 1) 1%,
    rgba(9, 129, 2, 1) 61%
  );
}

.blue {
  background: linear-gradient(
    90deg,
    rgba(15, 191, 247, 1) 1%,
    rgba(18, 96, 218, 1) 61%
  );
}

.orange {
  background: linear-gradient(
    90deg,
    rgba(247, 119, 15, 1) 1%,
    rgba(218, 71, 18, 1) 61%
  );
}

/*Modal*/
.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgb(0, 0, 0, 0.35) 0 5px 15px;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.modal-header {
  justify-content: space-between;
}

.modal-body {
  flex-grow: 1;
  margin-top: 20px;
  overflow-y: auto;
}

.modal-footer {
  justify-content: flex-end;
}
