/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Utilities*/
.header {
  margin-bottom: 10px;
  padding: 10px 12px;
}

.header-title {
  font-size: 30px;
  text-align: center;
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 214, 100, 1) 1%,
    rgba(2, 65, 111, 1) 61%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 15px 20px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn-large {
  width: 100%;
}

.btn-dark {
  color: #fff;
  background-color: #02416f;
}

.btn-green {
  color: #fff;
  background-color: #02d664;
}

.flex {
  display: flex;
}

.center-vertical {
  align-items: center;
}

.hide {
  display: none;
}

.icon-dark {
  color: #02416f;
}

.icon-green {
  color: #02d664;
}

.icon-white {
  color: #fff;
}

.display-message {
  margin-bottom: 10px;
  font-size: 12px;
}

.error {
  color: red;
}

.succes {
  color: #02d664;
}

.center {
  text-align: center;
}

/*Login*/
form {
  margin-top: 10px;
}
.login-container {
  width: 350px;
  margin: 100px auto 0 auto;
}

.login-form {
  margin-top: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.inner-input {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  height: 45px;
}

.inner-input ~ span {
  margin-left: 5px;
}

.prefix {
  padding: 0px 5px;
  width: 40px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  height: 100%;
  border-left: 1px solid #ddd;
  color: #02416f;
  font-size: 14px;
  border-radius: 4px;
}

.input:focus {
  border: 2px solid #02d664;
}
